header {
  background-color: rgb(235, 235, 235);
  text-align: center;
  padding: 10px;

  nav {
    padding-bottom: 10px;
  }
}

a {
  text-decoration: none;
  color: #333;
  padding: 0 10px;
  font-weight: bolder;

  &:hover {
    text-decoration: underline;
  }
}

.active {
  text-decoration: underline;
  color: rgb(209, 195, 0);
  background-color: rgb(61, 48, 238);
}
