<div
  class="face-snap-card"
  *ngIf="faceSnap$ | async as faceSnap"
  [ngClass]="{ snapped: buttonText === 'Oups, unSnap!' }"
>
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <p>
    mis en ligne le :
    {{ faceSnap.createdDate | date : "à HH:mm, le d MMMM yyyy" }}
  </p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
  <p>{{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.location">Pokémon aperçu à : {{ faceSnap.location }}</p>
  <p>
    <button (click)="onSnap(faceSnap.id)">{{ buttonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps * 4 + ', 0)' }"
      >👍 {{ faceSnap.snaps }}</span
    >
    <!--Ici on utilise /facesnaps car sinon on arrive sur http://localhost:4200/facesnaps/1/facesnaps et on veut http://localhost:4200/facesnaps-->
    <button routerLink="/facesnaps">Back</button>
  </p>
</div>
